###Lab 6

First loading the dataset:

In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("/content/Telecom_customer churn.csv")
df

,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,change_mou,...,forgntvl,ethnic,kid0_2,kid3_5,kid6_10,kid11_15,kid16_17,creditcd,eqpdays,Customer_ID
0,23.9975,219.25,22.500,0.2475,0.00,0.0,0.0,0.0,0.0,-157.25,...,0.0,N,U,U,U,U,U,Y,361.0,1000001
1,57.4925,482.75,37.425,0.2475,22.75,9.1,9.1,0.0,0.0,532.25,...,0.0,Z,U,U,U,U,U,Y,240.0,1000002
2,16.9900,10.25,16.990,0.0000,0.00,0.0,0.0,0.0,0.0,-4.25,...,0.0,N,U,Y,U,U,U,Y,1504.0,1000003
3,38.0000,7.50,38.000,0.0000,0.00,0.0,0.0,0.0,0.0,-1.50,...,0.0,U,Y,U,U,U,U,Y,1812.0,1000004
4,55.2300,570.50,71.980,0.0000,0.00,0.0,0.0,0.0,0.0,38.50,...,0.0,I,U,U,U,U,U,Y,434.0,1000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,S,U,U,U,Y,U,Y,773.0,1099996
99996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,N,U,U,Y,Y,Y,Y,835.0,1099997
99997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,U,Y,Y,U,U,U,N,433.0,1099998
99998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,S,U,U,U,U,U,N,75.0,1099999
99999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,H,U,U,U,U,U,N,5.0,1100000

Q1. Data preprocessing (handling missing values, outliers, feature scaling).

a. handling missing values

In [2]:
numeric_df = df.select_dtypes(include=[ 'float64', 'int64' ])
print("Missing values in numeric columns:\n", numeric_df.isnull().sum())
numeric_df_dropped = numeric_df.dropna()
numeric_df_filled= numeric_df.fillna(numeric_df.mean())

Missing values in numeric columns:
 rev_Mean         357
mou_Mean         357
totmrc_Mean      357
da_Mean          357
ovrmou_Mean      357
               ...
income         25436
numbcars       49366
forgntvl        1732
eqpdays            1
Customer_ID        0
Length: 79, dtype: int64

b. handling outliers

In [7]:
Q1 = numeric_df.quantile(0.25)
Q3 = numeric_df.quantile(0.75)
IQR = Q3 - Q1
outliers = ((numeric_df < (Q1 - 1.5 * IQR)) | (numeric_df > (Q3 + 1.5 * IQR)))
numeric_df_no_outliers =numeric_df [~outliers.any ( axis=1) ]
print("Data after removing outliers: \n", numeric_df_no_outliers)

Data after removing outliers:
        rev_Mean  mou_Mean  totmrc_Mean  da_Mean  ovrmou_Mean  ovrrev_Mean  \
1205    51.4900    397.50        44.99   0.0000        21.25       7.4375
1238    36.7350     63.25        30.00   0.0000         0.00       0.0000
1259    35.5125     15.00        34.95   0.2475         0.00       0.0000
1297    32.9300     86.00        30.00   0.4950         0.00       0.0000
1309    28.7550     46.75        30.00   0.0000         0.00       0.0000
...         ...       ...          ...      ...          ...          ...
99990   29.9900    184.00        29.99   0.0000         0.00       0.0000
99991       NaN       NaN          NaN      NaN          NaN          NaN
99995       NaN       NaN          NaN      NaN          NaN          NaN
99996       NaN       NaN          NaN      NaN          NaN          NaN
99997       NaN       NaN          NaN      NaN          NaN          NaN

       vceovr_Mean  datovr_Mean  roam_Mean  change_mou  ...  models  truck  \
1205        7.4375          0.0        0.0       51.50  ...     3.0    0.0
1238        0.0000          0.0        0.0       13.75  ...     1.0    0.0
1259        0.0000          0.0        0.0       -4.00  ...     2.0    0.0
1297        0.0000          0.0        0.0      -10.00  ...     3.0    0.0
1309        0.0000          0.0        0.0      -27.75  ...     2.0    0.0
...            ...          ...        ...         ...  ...     ...    ...
99990       0.0000          0.0        0.0         NaN  ...     2.0    0.0
99991          NaN          NaN        NaN         NaN  ...     1.0    0.0
99995          NaN          NaN        NaN         NaN  ...     1.0    0.0
99996          NaN          NaN        NaN         NaN  ...     1.0    0.0
99997          NaN          NaN        NaN         NaN  ...     2.0    0.0

        rv   lor  adults  income  numbcars  forgntvl  eqpdays  Customer_ID
1205   0.0   1.0     3.0     7.0       2.0       0.0     83.0      1001206
1238   0.0   2.0     1.0     9.0       1.0       0.0    910.0      1001239
1259   0.0   8.0     2.0     9.0       1.0       0.0    669.0      1001260
1297   0.0   NaN     NaN     NaN       NaN       0.0    881.0      1001298
1309   0.0  15.0     2.0     4.0       2.0       0.0    436.0      1001310
...    ...   ...     ...     ...       ...       ...      ...          ...
99990  0.0  15.0     4.0     3.0       1.0       0.0    411.0      1099991
99991  0.0   NaN     1.0     8.0       NaN       0.0    773.0      1099992
99995  0.0  15.0     5.0     4.0       2.0       0.0    773.0      1099996
99996  0.0   9.0     3.0     7.0       2.0       0.0    835.0      1099997
99997  0.0   NaN     1.0     9.0       NaN       0.0    433.0      1099998

[22287 rows x 79 columns]

c. feature scaling

In [13]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
numeric_df_scaled =pd.DataFrame(scaler.fit_transform(numeric_df_no_outliers), columns=numeric_df_no_outliers.columns)
print("Data after Min-Max scaling: Xn", numeric_df_scaled)

Data after Min-Max scaling: Xn        rev_Mean  mou_Mean  totmrc_Mean   da_Mean  ovrmou_Mean  ovrrev_Mean  \
0      0.455800  0.272074     0.490126  0.000000     0.205811     0.214106
1      0.339157  0.043292     0.359583  0.000000     0.000000     0.000000
2      0.329493  0.010267     0.402691  0.107143     0.000000     0.000000
3      0.309077  0.058864     0.359583  0.214286     0.000000     0.000000
4      0.276073  0.031999     0.359583  0.000000     0.000000     0.000000
...         ...       ...          ...       ...          ...          ...
22282  0.285836  0.125941     0.359496  0.000000     0.000000     0.000000
22283       NaN       NaN          NaN       NaN          NaN          NaN
22284       NaN       NaN          NaN       NaN          NaN          NaN
22285       NaN       NaN          NaN       NaN          NaN          NaN
22286       NaN       NaN          NaN       NaN          NaN          NaN

       vceovr_Mean  datovr_Mean  roam_Mean  change_mou  ...  models  truck  \
0         0.214106          0.0        0.0    0.604515  ...     1.0    0.0
1         0.000000          0.0        0.0    0.541388  ...     0.0    0.0
2         0.000000          0.0        0.0    0.511706  ...     0.5    0.0
3         0.000000          0.0        0.0    0.501672  ...     1.0    0.0
4         0.000000          0.0        0.0    0.471990  ...     0.5    0.0
...            ...          ...        ...         ...  ...     ...    ...
22282     0.000000          0.0        0.0         NaN  ...     0.5    0.0
22283          NaN          NaN        NaN         NaN  ...     0.0    0.0
22284          NaN          NaN        NaN         NaN  ...     0.0    0.0
22285          NaN          NaN        NaN         NaN  ...     0.0    0.0
22286          NaN          NaN        NaN         NaN  ...     0.5    0.0

        rv       lor  adults  income  numbcars  forgntvl   eqpdays  \
0      0.0  0.066667     0.4   0.750       0.5       0.0  0.086053
1      0.0  0.133333     0.0   1.000       0.0       0.0  0.904055
2      0.0  0.533333     0.2   1.000       0.0       0.0  0.665678
3      0.0       NaN     NaN     NaN       NaN       0.0  0.875371
4      0.0  1.000000     0.2   0.375       0.5       0.0  0.435213
...    ...       ...     ...     ...       ...       ...       ...
22282  0.0  1.000000     0.6   0.250       0.0       0.0  0.410485
22283  0.0       NaN     0.0   0.875       NaN       0.0  0.768546
22284  0.0  1.000000     0.8   0.375       0.5       0.0  0.768546
22285  0.0  0.600000     0.4   0.750       0.5       0.0  0.829871
22286  0.0       NaN     0.0   1.000       NaN       0.0  0.432245

       Customer_ID
0         0.000000
1         0.000334
2         0.000547
3         0.000931
4         0.001053
...            ...
22282     0.999929
22283     0.999939
22284     0.999980
22285     0.999990
22286     1.000000

[22287 rows x 79 columns]

In [17]:
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()
numeric_df_standardized = pd.DataFrame(scaler.fit_transform(numeric_df_no_outliers), columns=numeric_df_no_outliers.columns)
print("Data after Standardization: Xn", numeric_df_standardized)

Data after Standardization: Xn        rev_Mean  mou_Mean  totmrc_Mean   da_Mean  ovrmou_Mean  ovrrev_Mean  \
0      1.037726  1.129339     0.454346 -0.528472     1.148607     1.167848
1      0.044506 -0.731388    -0.456612 -0.528472    -0.415839    -0.418690
2     -0.037786 -0.999989    -0.155795  0.035415    -0.415839    -0.418690
3     -0.211624 -0.604741    -0.456612  0.599302    -0.415839    -0.418690
4     -0.492661 -0.823241    -0.456612 -0.528472    -0.415839    -0.418690
...         ...       ...          ...       ...          ...          ...
22282 -0.409528 -0.059188    -0.457219 -0.528472    -0.415839    -0.418690
22283       NaN       NaN          NaN       NaN          NaN          NaN
22284       NaN       NaN          NaN       NaN          NaN          NaN
22285       NaN       NaN          NaN       NaN          NaN          NaN
22286       NaN       NaN          NaN       NaN          NaN          NaN

       vceovr_Mean  datovr_Mean  roam_Mean  change_mou  ...    models  truck  \
0         1.167862          0.0  -0.337157    0.780667  ...  3.638549    0.0
1        -0.418667          0.0  -0.337157    0.293123  ... -0.493675    0.0
2        -0.418667          0.0  -0.337157    0.063881  ...  1.572437    0.0
3        -0.418667          0.0  -0.337157   -0.013609  ...  3.638549    0.0
4        -0.418667          0.0  -0.337157   -0.242852  ...  1.572437    0.0
...            ...          ...        ...         ...  ...       ...    ...
22282    -0.418667          0.0  -0.337157         NaN  ...  1.572437    0.0
22283          NaN          NaN        NaN         NaN  ... -0.493675    0.0
22284          NaN          NaN        NaN         NaN  ... -0.493675    0.0
22285          NaN          NaN        NaN         NaN  ... -0.493675    0.0
22286          NaN          NaN        NaN         NaN  ...  1.572437    0.0

        rv       lor    adults    income  numbcars  forgntvl   eqpdays  \
0      0.0 -1.059474  0.528523  0.537055  0.754031       0.0 -1.680701
1      0.0 -0.849668 -0.977813  1.480679 -0.944834       0.0  2.046760
2      0.0  0.409165 -0.224645  1.480679 -0.944834       0.0  0.960523
3      0.0       NaN       NaN       NaN       NaN       0.0  1.916051
4      0.0  1.877803 -0.224645 -0.878381  0.754031       0.0 -0.089657
...    ...       ...       ...       ...       ...       ...       ...
22282  0.0  1.877803  1.281691 -1.350193 -0.944834       0.0 -0.202337
22283  0.0       NaN -0.977813  1.008867       NaN       0.0  1.429272
22284  0.0  1.877803  2.034859 -0.878381  0.754031       0.0  1.429272
22285  0.0  0.618970  0.528523  0.537055  0.754031       0.0  1.708719
22286  0.0       NaN -0.977813  1.480679       NaN       0.0 -0.103178

       Customer_ID
0        -1.826733
1        -1.825499
2        -1.824714
3        -1.823293
4        -1.822844
...            ...
22282     1.866758
22283     1.866796
22284     1.866945
22285     1.866982
22286     1.867020

[22287 rows x 79 columns]

Q2.Exploratory data analysis (EDA) to identify potential predictors.

In [18]:
print (df. info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 100 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   rev_Mean          99643 non-null   float64
 1   mou_Mean          99643 non-null   float64
 2   totmrc_Mean       99643 non-null   float64
 3   da_Mean           99643 non-null   float64
 4   ovrmou_Mean       99643 non-null   float64
 5   ovrrev_Mean       99643 non-null   float64
 6   vceovr_Mean       99643 non-null   float64
 7   datovr_Mean       99643 non-null   float64
 8   roam_Mean         99643 non-null   float64
 9   change_mou        99109 non-null   float64
 10  change_rev        99109 non-null   float64
 11  drop_vce_Mean     100000 non-null  float64
 12  drop_dat_Mean     100000 non-null  float64
 13  blck_vce_Mean     100000 non-null  float64
 14  blck_dat_Mean     100000 non-null  float64
 15  unan_vce_Mean     100000 non-null  float64
 16  unan_dat_Mean     100000 non-null  float64
 17  plcd_vce_Mean     100000 non-null  float64
 18  plcd_dat_Mean     100000 non-null  float64
 19  recv_vce_Mean     100000 non-null  float64
 20  recv_sms_Mean     100000 non-null  float64
 21  comp_vce_Mean     100000 non-null  float64
 22  comp_dat_Mean     100000 non-null  float64
 23  custcare_Mean     100000 non-null  float64
 24  ccrndmou_Mean     100000 non-null  float64
 25  cc_mou_Mean       100000 non-null  float64
 26  inonemin_Mean     100000 non-null  float64
 27  threeway_Mean     100000 non-null  float64
 28  mou_cvce_Mean     100000 non-null  float64
 29  mou_cdat_Mean     100000 non-null  float64
 30  mou_rvce_Mean     100000 non-null  float64
 31  owylis_vce_Mean   100000 non-null  float64
 32  mouowylisv_Mean   100000 non-null  float64
 33  iwylis_vce_Mean   100000 non-null  float64
 34  mouiwylisv_Mean   100000 non-null  float64
 35  peak_vce_Mean     100000 non-null  float64
 36  peak_dat_Mean     100000 non-null  float64
 37  mou_peav_Mean     100000 non-null  float64
 38  mou_pead_Mean     100000 non-null  float64
 39  opk_vce_Mean      100000 non-null  float64
 40  opk_dat_Mean      100000 non-null  float64
 41  mou_opkv_Mean     100000 non-null  float64
 42  mou_opkd_Mean     100000 non-null  float64
 43  drop_blk_Mean     100000 non-null  float64
 44  attempt_Mean      100000 non-null  float64
 45  complete_Mean     100000 non-null  float64
 46  callfwdv_Mean     100000 non-null  float64
 47  callwait_Mean     100000 non-null  float64
 48  churn             100000 non-null  int64
 49  months            100000 non-null  int64
 50  uniqsubs          100000 non-null  int64
 51  actvsubs          100000 non-null  int64
 52  new_cell          100000 non-null  object
 53  crclscod          100000 non-null  object
 54  asl_flag          100000 non-null  object
 55  totcalls          100000 non-null  int64
 56  totmou            100000 non-null  float64
 57  totrev            100000 non-null  float64
 58  adjrev            100000 non-null  float64
 59  adjmou            100000 non-null  float64
 60  adjqty            100000 non-null  int64
 61  avgrev            100000 non-null  float64
 62  avgmou            100000 non-null  float64
 63  avgqty            100000 non-null  float64
 64  avg3mou           100000 non-null  int64
 65  avg3qty           100000 non-null  int64
 66  avg3rev           100000 non-null  int64
 67  avg6mou           97161 non-null   float64
 68  avg6qty           97161 non-null   float64
 69  avg6rev           97161 non-null   float64
 70  prizm_social_one  92612 non-null   object
 71  area              99960 non-null   object
 72  dualband          99999 non-null   object
 73  refurb_new        99999 non-null   object
 74  hnd_price         99153 non-null   float64
 75  phones            99999 non-null   float64
 76  models            99999 non-null   float64
 77  hnd_webcap        89811 non-null   object
 78  truck             98268 non-null   float64
 79  rv                98268 non-null   float64
 80  ownrent           66294 non-null   object
 81  lor               69810 non-null   float64
 82  dwlltype          68091 non-null   object
 83  marital           98268 non-null   object
 84  adults            76981 non-null   float64
 85  infobase          77921 non-null   object
 86  income            74564 non-null   float64
 87  numbcars          50634 non-null   float64
 88  HHstatin          62077 non-null   object
 89  dwllsize          61692 non-null   object
 90  forgntvl          98268 non-null   float64
 91  ethnic            98268 non-null   object
 92  kid0_2            98268 non-null   object
 93  kid3_5            98268 non-null   object
 94  kid6_10           98268 non-null   object
 95  kid11_15          98268 non-null   object
 96  kid16_17          98268 non-null   object
 97  creditcd          98268 non-null   object
 98  eqpdays           99999 non-null   float64
 99  Customer_ID       100000 non-null  int64
dtypes: float64(69), int64(10), object(21)
memory usage: 76.3+ MB
None
           rev_Mean      mou_Mean   totmrc_Mean       da_Mean   ovrmou_Mean  \
count  99643.000000  99643.000000  99643.000000  99643.000000  99643.000000
mean      58.719985    513.559937     46.179136      0.888828     41.072247
std       46.291677    525.168140     23.623489      2.177619     97.296150
min       -6.167500      0.000000    -26.915000      0.000000      0.000000
25%       33.260000    150.750000     30.000000      0.000000      0.000000
50%       48.195000    355.500000     44.990000      0.247500      2.750000
75%       70.750000    703.000000     59.990000      0.990000     42.000000
max     3843.262500  12206.750000    409.990000    159.390000   4320.750000

        ovrrev_Mean   vceovr_Mean   datovr_Mean     roam_Mean    change_mou  \
count  99643.000000  99643.000000  99643.000000  99643.000000  99109.000000
mean      13.559560     13.295062      0.261318      1.286405    -13.933818
std       30.500885     30.056089      3.126531     14.711374    276.087509
min        0.000000      0.000000      0.000000      0.000000  -3875.000000
25%        0.000000      0.000000      0.000000      0.000000    -87.000000
50%        1.000000      0.682500      0.000000      0.000000     -6.250000
75%       14.437500     14.025000      0.000000      0.235000     63.000000
max     1102.400000    896.087500    423.540000   3685.200000  31219.250000

       ...        models         truck            rv           lor  \
count  ...  99999.000000  98268.000000  98268.000000  69810.000000
mean   ...      1.545825      0.188820      0.082580      6.177238
std    ...      0.898395      0.391368      0.275248      4.735267
min    ...      1.000000      0.000000      0.000000      0.000000
25%    ...      1.000000      0.000000      0.000000      2.000000
50%    ...      1.000000      0.000000      0.000000      5.000000
75%    ...      2.000000      0.000000      0.000000      9.000000
max    ...     16.000000      1.000000      1.000000     15.000000

             adults        income      numbcars      forgntvl       eqpdays  \
count  76981.000000  74564.000000  50634.000000  98268.000000  99999.000000
mean       2.530326      5.783112      1.567563      0.057974    391.932309
std        1.452819      2.182132      0.625456      0.233696    256.482193
min        1.000000      1.000000      1.000000      0.000000     -5.000000
25%        1.000000      4.000000      1.000000      0.000000    212.000000
50%        2.000000      6.000000      1.000000      0.000000    342.000000
75%        3.000000      7.000000      2.000000      0.000000    530.000000
max        6.000000      9.000000      3.000000      1.000000   1823.000000

        Customer_ID
count  1.000000e+05
mean   1.050000e+06
std    2.886766e+04
min    1.000001e+06
25%    1.025001e+06
50%    1.050000e+06
75%    1.075000e+06
max    1.100000e+06

[8 rows x 79 columns]

In [19]:
correlation_matrix=numeric_df.corr()
target_corr=correlation_matrix['churn'].sort_values(ascending=False)
print("Corre1ation with the target variable: \n", target_corr)

Corre1ation with the target variable:
 churn            1.000000
eqpdays          0.112691
uniqsubs         0.039882
vceovr_Mean      0.024240
ovrrev_Mean      0.023736
                   ...
complete_Mean   -0.051740
mou_cvce_Mean   -0.052042
mou_Mean        -0.057027
totmrc_Mean     -0.068558
hnd_price       -0.103184
Name: churn, Length: 79, dtype: float64

Correlation with Target: Numeric features with strong positive/negative correlation values, youâ€™ll have identified the potential predictors

Q3. Building a simple linear regression model and evaluating model performance using accuracy, precision, recall, F1-score.

In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

df = pd.get_dummies(df, drop_first=True)
df.fillna(value=0, inplace=True)

X = df.drop(columns=['churn'])
y = df['churn']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

linear_reg_model = LinearRegression()
linear_reg_model.fit(X_train, y_train)

y_pred = linear_reg_model.predict(X_test)
y_pred_binary = (y_pred > 0.5).astype(int)

accuracy = accuracy_score(y_test, y_pred_binary)
precision = precision_score(y_test, y_pred_binary)
recall = recall_score(y_test, y_pred_binary)
f1 = f1_score(y_test, y_pred_binary)
conf_matrix = confusion_matrix(y_test, y_pred_binary)

print(f"Accuracy: {accuracy}")
print(f"Precision: {precision}")
print(f"Recall: {recall}")
print(f"F1-score: {f1}")
print("Confusion Matrix:\n", conf_matrix)

Accuracy: 0.5911333333333333
Precision: 0.5912743972445464
Recall: 0.5848754091789699
F1-score: 0.5880574959699086
Confusion Matrix:
 [[8979 6052]
 [6214 8755]]