###Lab 4

Q1. Loading and Inspecting Data:

· Load various data formats (CSV, Excel, JSON) into Pandas
DataFrames.

In [26]:
import pandas as pd
df_csv=pd.read_csv('/content/Position_Salaries.csv' )
print("CSV file opened successfully")
df_csv.to_excel( 'position _ Salaries.xlsx' )
print("Excel file opened successfully")
df_csv.to_json( 'Position Salaries.json')
print("Json file opened successfully")

CSV file opened successfully
Excel file opened successfully
Json file opened successfully

· Explore DataFrame attributes like shape, columns, dtypes,
head, tail, info, describe.

In [27]:
print("Shape of the DataFrame:")
print(df_csv.shape)  # Returns (rows, columns)

print("\nColumn Names:")
print(df_csv.columns)  # List of column names

print("\nData Types of Each Column:")
print(df_csv.dtypes)  # Data types of each column

print("\nFirst 5 Rows (or fewer if less than 5 rows):")
print(df_csv.head())  # Displays the first 5 rows

print("\nLast 5 Rows (or fewer if less than 5 rows):")
print(df_csv.tail())  # Displays the last 5 rows

print("\nInfo about the DataFrame:")
df_csv.info()  # Summary including column non-null count and data types

print("\nSummary Statistics (numerical columns):")
print(df_csv.describe())

Shape of the DataFrame:
(10, 3)

Column Names:
Index(['Position', 'Level', 'Salary'], dtype='object')

Data Types of Each Column:
Position    object
Level        int64
Salary       int64
dtype: object

First 5 Rows (or fewer if less than 5 rows):
            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

Last 5 Rows (or fewer if less than 5 rows):
         Position  Level   Salary
5  Region Manager      6   150000
6         Partner      7   200000
7  Senior Partner      8   300000
8         C-level      9   500000
9             CEO     10  1000000

Info about the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  10 non-null     object
 1   Level     10 non-null     int64
 2   Salary    10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 368.0+ bytes

Summary Statistics (numerical columns):
          Level          Salary
count  10.00000       10.000000
mean    5.50000   249500.000000
std     3.02765   299373.883668
min     1.00000    45000.000000
25%     3.25000    65000.000000
50%     5.50000   130000.000000
75%     7.75000   275000.000000
max    10.00000  1000000.000000

Practice selecting columns and rows using different
methods (indexing, slicing, loc, iloc).

In [29]:
print(df_csv["Salary"])

print("\nMultiple columns 'Name' and 'Salary':")
print(df_csv[["Level", "Salary"]])

0      45000
1      50000
2      60000
3      80000
4     110000
5     150000
6     200000
7     300000
8     500000
9    1000000
Name: Salary, dtype: int64

Multiple columns 'Name' and 'Salary':
   Level   Salary
0      1    45000
1      2    50000
2      3    60000
3      4    80000
4      5   110000
5      6   150000
6      7   200000
7      8   300000
8      9   500000
9     10  1000000

In [33]:
print("row data")
print(df_csv.iloc[1])
print("sliced data")
print(df_csv[6:10])
row_data_by_label=df_csv.loc[0]
print(row_data_by_label)
subset =df_csv.loc[0:4,['Level', 'Salary'] ]
print(subset)
subset =df_csv.iloc[0:5,[0,1]]
print(subset)

row data
Position    Junior Consultant
Level                       2
Salary                  50000
Name: 1, dtype: object
sliced data
         Position  Level   Salary
6         Partner      7   200000
7  Senior Partner      8   300000
8         C-level      9   500000
9             CEO     10  1000000
Position    Business Analyst
Level                      1
Salary                 45000
Name: 0, dtype: object
   Level  Salary
0      1   45000
1      2   50000
2      3   60000
3      4   80000
4      5  110000
            Position  Level
0   Business Analyst      1
1  Junior Consultant      2
2  Senior Consultant      3
3            Manager      4
4    Country Manager      5

Q2. Data Cleaning and Preparation

• Identify missing values using isnull and isna.

• Handle missing values using fillna, dropna, interpolation.

• Apply scaling techniques (min-max, z-score) to numerical
columns.

• Create dummy variables for categorical columns.

In [36]:
df = pd.DataFrame({
    'A':[1,2,None,4],
    'B':[None,'b','c','d'],
    'C':[1.0,None,3.0,4.0]
}
)
# Check for missing values
print("Missing values in DataFrame (isnull):")
print(df.isnull())  # Returns a boolean DataFrame

print("\nCount of missing values per column:")
print(df.isnull().sum())

Missing values in DataFrame (isnull):
       A      B      C
0  False   True  False
1  False  False   True
2   True  False  False
3  False  False  False

Count of missing values per column:
A    1
B    1
C    1
dtype: int64

In [37]:
df_filled =df.fillna({'A':0,'B':'unknown','C':df['C'].mean()})
print(df_filled)

     A        B         C
0  1.0  unknown  1.000000
1  2.0        b  2.666667
2  0.0        c  3.000000
3  4.0        d  4.000000

In [38]:
dropped=df.dropna(axis=1)
print(dropped)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [40]:
df_interpolated=df.interpolate()
print(df_interpolated)

     A     B    C
0  1.0  None  1.0
1  2.0     b  2.0
2  3.0     c  3.0
3  4.0     d  4.0

<ipython-input-40-1f2e7d3e4669>:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_interpolated=df.interpolate()

In [41]:
from sklearn.preprocessing import MinMaxScaler
sccaler = MinMaxScaler()
df[['A','C']]=scaler.fit_transform(df[['A','C']])
print(df)

          A     B         C
0  0.000000  None  0.000000
1  0.333333     b       NaN
2       NaN     c  0.666667
3  1.000000     d  1.000000

In [42]:
from sklearn.preprocessing import StandardScaler

scaler_std = StandardScaler()
df[["A",'C']] = scaler.fit_transform(df[["A",'C']])
print(df)

          A     B         C
0  0.000000  None  0.000000
1  0.333333     b       NaN
2       NaN     c  0.666667
3  1.000000     d  1.000000

In [51]:
df = pd.DataFrame({
'Category': ['A', 'B', 'A', 'c']
                    })
# Create dummy variables
df_dummies = pd.get_dummies (df, columns=['Category'])
df_dummies = pd.get_dummies (df, columns=['Category'], drop_first=True)
print(df_dummies)

   Category_B  Category_c
0       False       False
1        True       False
2       False       False
3       False        True

Q3. Aggregation and Grouping:

Calculate summary statistics (mean, median, count, etc.) using
groupby.

Create pivot tables for data summarization.

Combine DataFrames using concat, merge, and join.

Practice different join types (inner, outer, left, right).

In [43]:
df = pd.DataFrame({
    'category': ['A', 'B', 'A', 'B', 'C', 'C'],
    'value': [10, 20, 30, 40, 50, 60]
})

In [44]:
# Group by 'category' and calculate summary statistics
grouped = df.groupby('category').agg(
    mean_value=('value', 'mean'),
    sum_value=('value', 'sum'),
    count_value=('value', 'count')
)
print("Grouped Summary Statistics:")
print(grouped)

Grouped Summary Statistics:
          mean_value  sum_value  count_value
category
A               20.0         40            2
B               30.0         60            2
C               55.0        110            2

In [45]:
# Pivot table showing the sum of 'value' for each 'category'
pivot = pd.pivot_table(df, values='value', index='category', aggfunc='sum')
print("\nPivot Table (Sum of 'value' by 'category'):")
print(pivot)

Pivot Table (Sum of 'value' by 'category'):
          value
category
A            40
B            60
C           110

In [46]:
# Create another DataFrame for concatenation
df2 = pd.DataFrame({'category': ['D', 'E'], 'value': [70, 80]})
concat_df = pd.concat([df, df2], ignore_index=True)
print("\nConcatenated DataFrame:")
print(concat_df)

Concatenated DataFrame:
  category  value
0        A     10
1        B     20
2        A     30
3        B     40
4        C     50
5        C     60
6        D     70
7        E     80

In [47]:
# Create another DataFrame for merging
df3 = pd.DataFrame({'category': ['A', 'B', 'C'], 'extra': [100, 200, 300]})
merged_df = pd.merge(df, df3, on='category', how='inner')  # Inner join
print("\nMerged DataFrame (Inner Join):")
print(merged_df)

Merged DataFrame (Inner Join):
  category  value  extra
0        A     10    100
1        B     20    200
2        A     30    100
3        B     40    200
4        C     50    300
5        C     60    300

In [48]:
# Use `join` with indices
df4 = pd.DataFrame({'extra': [100, 200, 300, 400, 500, 600]}, index=df.index)
joined_df = df.join(df4)
print("\nJoined DataFrame:")
print(joined_df)

Joined DataFrame:
  category  value  extra
0        A     10    100
1        B     20    200
2        A     30    300
3        B     40    400
4        C     50    500
5        C     60    600

In [49]:
# Outer Join
outer_join = pd.merge(df, df3, on='category', how='outer')
print("\nOuter Join:")
print(outer_join)

# Left Join
left_join = pd.merge(df, df3, on='category', how='left')
print("\nLeft Join:")
print(left_join)

# Right Join
right_join = pd.merge(df, df3, on='category', how='right')
print("\nRight Join:")
print(right_join)

Outer Join:
  category  value  extra
0        A     10    100
1        A     30    100
2        B     20    200
3        B     40    200
4        C     50    300
5        C     60    300

Left Join:
  category  value  extra
0        A     10    100
1        B     20    200
2        A     30    100
3        B     40    200
4        C     50    300
5        C     60    300

Right Join:
  category  value  extra
0        A     10    100
1        A     30    100
2        B     20    200
3        B     40    200
4        C     50    300
5        C     60    300